{{set . "title" "소현이 첫 생일"}}
{{template "header.html" .}}

<div class="swiper-nav swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<span>초대글</span>
		</div>
		<div class="swiper-slide">
			<span>오시는길</span>
		</div>
		<div class="swiper-slide">
			<span>프로필</span>
		</div>
		<div class="swiper-slide">
			<span>사진</span>
		</div>
		<div class="swiper-slide">
			<span>동영상</span>
		</div>
	</div>
</div>
<div class="swiper-pages swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide">
			<div class="swiper-container scroll-container">
				<div class="swiper-scrollbar"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="page-inner">
							<h1>초대장
								<a id="kakao-link-btn" style="float:right" href="javascript:;">
									<img src="/public/img/kakaolink_btn_medium.png" />
								</a>
							</h1>
							<img src="/public/img/photo/invit01.png" height="100%" width="100%">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="swiper-container scroll-container">
				<div class="swiper-scrollbar"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="page-inner">
							<h1>오시는길</h1>
							<iframe src="http://dna.daum.net/include/tools/routemap/map_view.php?width=480&height=550&latitude=35.21112193678777&longitude=129.00759123313586&contents=&zoom=3" width="480" height="550" scrolling="no" frameborder="0"></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="swiper-container scroll-container">
				<div class="swiper-scrollbar"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="page-inner">
							<h1>소현이 프로필</h1>
							<img src="/public/img/photo/invit02.png" height="100%" width="100%">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="swiper-container swiper-gallery">
				<div class="swiper-scrollbar"></div>
				<div class="swiper-wrapper">
					{{range .files}}
					<div class="swiper-slide">
						<img src="/public/img/photo/gallery/{{.}}">
					</div>
					{{end}}
				</div>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="swiper-container scroll-container">
				<div class="swiper-scrollbar"></div>
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="page-inner">
							<video width="100%" height="100%" controls loop muted autoplay>
							  <source src="/public/img/photo/2014.mp4" type="video/mp4">
							</video>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{{template "footer.html" .}}
