<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width" />
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/public/css/idangerous.swiper.css">
	<link rel="stylesheet" type="text/css" href="/public/css/idangerous.swiper.scrollbar.css">
	<link rel="stylesheet" type="text/css" href="/public/css/simple-app.css">
	
	<link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
	
	<script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/idangerous.swiper.scrollbar-2.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/idangerous.swiper-2.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/simple-app.js" type="text/javascript" charset="utf-8"></script>
	<script src="/public/js/kakao.min.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
